name: Ping Website

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Curl request
        run: |
          curl --fail --silent --show-error --location --max-time 20 \
            --output /dev/null \
            https://bolokonondo.com