name: Ping Website

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -I https://bolokonondo.com